body {
  background: url('assets/cubes.png');
}

h1 {
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.row:nth-of-type(1) {
  margin-top: 20px;
}

.locked {
  border: 5px solid red;
  border-radius: 25px;
}

button#roll {
  margin: 15px;
}