.die {
  display: block;
  width: 128px;
  height: 128px;
}

.one {
  background-image: url('assets/1_dot.png');
}

.two {
  background-image: url('assets/2_dots.png');
}

.three {
  background-image: url('assets/3_dots.png');
}

.four {
  background-image: url('assets/4_dots.png');
}

.five {
  background-image: url('assets/5_dots.png');
}

.six {
  background-image: url('assets/6_dots.png');
}